@media only screen
and (max-width : 414px) {
    body{
        font-size: 50px;
    }
    .div_img{
        display: none;
    }

    .section1-a > p {
    width: 100%;
}
.section1-a {
    padding: 0;
}
.section2{
    padding:0;
}
.section3-b {
    margin-top: 50px;
}
.section3 img {
    margin-bottom: 0px;
}
 h2{
    font-size: 1.3em;
    padding-left: 25%;
    padding-top: 0;
}
.section3-a, .section3-b {
    background: #fafafa none repeat scroll 0 0;
    padding: 38px;
}
.section5 h2 {
    padding-left: 0;
    text-align: center;
}
.web-h1{
    width:100%;
}
.web{
    width:94%;
}

.web01,.web02,.web04,.web03 {
    float: right;
    margin: 38px 0 !important;
}
.web{
    padding-top: 0
}
.hr2{
    display: none;
}
.grey{
    min-height: 220px;
}
.section2, .section4 ,.section7-det,.section6{
    background: rgba(0, 0, 0, 0) url("../img/dots.png") no-repeat scroll 0 0 / 93px auto;
    padding: 0;
}

.section_bg {
    top: -4%;
    }
    .section_bg2 img {
    width: 30%;
}
.section_bg > img {
    width: 40%;
}
.web04{
    margin-bottom:0;
}
.section5 .p1 {
    width: 100%;
}
.section6 h2 {
    margin-top: 0;
}
.section7-a {
    min-height: 1070px !important;
}
.imgs {
    margin: 38px auto;
    width: 60%;
}


.contact-section1 h2 {
    padding-left: 0;
}
.contact-section1 p {
    padding: 0 10%;
    }
    .div-adjust {
    margin-top: 114px;
      float: left;
    width: 100%;
}
.contact-section2 {
    padding: 114px 0 0;
    }

}
@media only screen
and (max-width : 800px) {

    .navbar-header {
        float: none;
    }
    .div_img img {
    display: none;

}

.section1-a > h5 {
    width: 100%;
}
.section_bg2 img {
    width: 157px;
}
.section5_img img {

    width: 100%;
}
h1 {
    padding-top: 38px;
    }
    h2 {
    padding-left: 25%;
}
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
         margin-bottom: 0;
         padding: 0;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .web-h1 {
    width: 100%;
}
.web {
    padding-top: 19px;
    width: 90%;
    float: right;
}
.web03,.web02,.web01,.web04 {
     margin-bottom: 19px;
    margin-top: 19px;
}
.hr2{
    display: none;
}

.section5 h2{
    text-align: center;
    padding-left: 0;
}
.section6 h2 {
    margin-top: 0;
}
.section6 {
    background: rgba(0, 0, 0, 0) url("../img/dots.png") no-repeat scroll -60px 32px / 150px auto;
    padding: 38px 0;
}
.imgs {
    margin-top: 38px;
}
.section7-a {
    min-height: 650px;
}
.list1 {
    width: 100%;
}

.contact-section1 h2 {
    padding-left: 0;
}
.div-adjust {
    width: 100%;
}
.col-xs-12{
    width:100%;
}
}
@media only screen
and (max-device-width : 1900px)
and (min-device-width : 768px) {

.section_bg2 {
    position: absolute;
    top: -120px;
    width: 93%;
}

    }
    @media screen and (max-width: 996px)  {
      .navbar-right{
        display: none;
      }
      .navbar-brand.brand{
        padding-right:50%;
      }
        .div_img img {
            display: none;
        }
        .section1-a > h5 {
    width: 100%;
}
  }
   /* @media screen and (min-width:879px)  {
        .container{
            width:100%;
        }
    }*/
  /*   @media screen and (max-width: 375px)  {
   .sections{
        font-size: 13px;
    }
 }*/
  @media screen and (min-width: 1px)  {
   body{
        font-size: 10px;
    }
    section {
    margin-bottom: 19px;
    margin-top: 19px;
    padding-top:19px;
    padding-bottom:19px;
}
.section3-a, .section3-b {
    padding: 38px;
}

 }
     @media screen and (min-width: 375px)  {
   body{
        font-size: 13px;
    }
    .grey {
    min-height: 140px;
}
.col1-right {
    float: none;
}
   .section5,.section6,.section7 {
    margin-bottom: 19px;
    margin-top: 19px;
}

.section_bg2 img {
    width: 93px;
}
.section5_img img {
    float: right;
    padding-right: 10%;
    width: 50%;
}
.section5_img img {
    margin-top: 30px;
}
.web1 {
    width: 40%;
}
.section6 {
    background: rgba(0, 0, 0, 0) url("../img/dots.png") no-repeat scroll 0 0 / 93px auto;
}
.form1 {
    margin-top: 50px;
}
.section7-a {
    margin: 114px auto 0;
    padding: 114px 0 0;
    }
    .hr1 {
    margin: 19px 0 38px;
}
.web1 {
    width: 100%;
}
 }
     @media screen and (min-width: 400px)  {
   body{
        font-size: 14px;
    }
 }
     @media screen and (min-width: 425px)  {
    body{
        font-size: 16px;
    }
 }
     @media screen and (min-width: 450px)  {
    body{
        font-size: 17px;
    }
 }
      @media screen and (min-width: 500px)  {
    body{
        font-size: 19px;
    }
 }
     @media screen and (min-width: 550px)  {
    body{
        font-size: 21px;
    }
 }
 @media screen and (min-width: 650px)  {
    body{
        font-size: 22px;
    }
     .grey {
    min-height: 160px;
}
 }

   @media screen and (min-width: 767px)  {
    .section5 .container{
        width:100%;
    }


}
   @media screen and (max-width: 1100px)  {
      .navbar-brand.brand{
        padding-right:20%;
      }
      .div_img img {
    float: right;
    padding-left: 0;
    padding-right: 10%;
}
    }
    @media screen and (min-width: 1366px) {
        .container{
            width:86.5%;
        }
        body,nav,footer{
            font-size: 24px;
        }

    }
     @media screen and (min-width: 1400px) {
        body,nav,footer{
            font-size: 28px;
        }
     }
     @media screen and (min-width: 1500px) {
        body,nav,footer{
            font-size: 30px;
        }
          .div_img img {
    width: 69%;
}
.nav li img {
    width: 21px;
}
     }
      @media screen and (min-width: 1600px) {
        body,nav{
            font-size: 32px;
        }
        .div_img img {
    width: 73%;
}
.nav li img {
    width: 22px;
}
     }
      @media screen and (min-width: 1700px) {
       body,nav{
            font-size: 34px;
        }
         .div_img img {
    width: 75%;
}
.nav li img {
    width: 23px;
}
     }
      @media screen and (min-width: 1800px) {
        body,nav{
            font-size: 36px;
        }
          .div_img img {
    width: 78%;
}
     }
     @media screen and (min-width: 1900px) {
        body,nav{
            font-size: 40px;
        }
                  .div_img img {
    width: 79%;
}
.nav li img {
    width: 24px;
}
     }