/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/
@import url('font.css');


body,nav{
  font-size: 24px;
    line-height: 1.6;
    margin:0;
    padding:0;
}
section{
	margin-top:38px;
	margin-bottom:38px;
}
 h2, h3{
 	line-height: 1.4;
 }
h1{
    color: #111;
    font-family: "Graphik-Bold";
    font-size: 3.263em;
    font-weight: 800;
    padding-top: 100px;
    text-transform: uppercase;
    line-height: 1.2;
}
h2{
	  font-family: "Graphik-Medium";
    font-size: 1.842em;
}
h2 span{
        color: #ff5c5c;
    font-family: "Graphik-Semibold";
}
h3{
	  color: #333;
    font-family: "Graphik-Regular";
    font-size: 0.947em;
    font-weight: 300;

}
h3 span{
	   font-family: "Graphik-Medium";
    font-weight: 400;
}
h4{
	    color: #999;
    font-family: "Graphik-Semibold";
    font-size:0.368em;
    letter-spacing: 1px;
    text-transform: uppercase

}
h4 span{
    color:#666;
}
p{
	 color: #666;
    font-family: "LeituraNews-Roman";
    font-size: 0.631em;
    margin:24px 0;
    line-height: 1.6;
}
nav {
    width: 86%;
    margin:0 auto;
}
a, a:hover{
    text-decoration: none;
}

.nav li a {
    color: #999;
    font-family: "Graphik-Semibold";
    letter-spacing: 1px;
    margin-top: 3px;
    text-transform: uppercase;
    font-size: 0.421em;
    line-height: 1.6;
}
.nav li img {
    width: 20px;
}

.span-red {
    color: #ff5c5c;
}

.brand {
    color: #111111;
    font-family: "Graphik-Bold";
    font-size: 0.632em;
    line-height: 1.6;
    padding-right: 150px;
}

/*section1*/
.section1-a{
    font-size:  1.167em;
}
.div_img {
    position: absolute;
    right: 0;
     top: 100px;
    z-index: 1;
}
.div_img img {
    padding-left: 13%;
    width: 65%;
}
section a{
    font-size:0.750em;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Graphik-Semibold";
}
.section1 {
    margin-top:0! important;
      background: rgba(0, 0, 0, 0) url("../img/header_gradient.jpg") repeat-x scroll 0 0;
  }
  .section1-a > p {
    width: 50%;
}

  .section1-a{
  	padding:70px 0 130px;
      }
  .section2,.section4{
    background: rgba(0, 0, 0, 0) url("../img/dots.png") no-repeat scroll -60px 32px / 150px auto;
    padding:38px 0;
  }
  .section3-a,.section3-b{
     background: #fafafa none repeat scroll 0 0;
    padding: 76px 114px;
  }
.section3-b{
    margin-top:100px;
}
.section3 img{
    width:50px;
    margin-bottom:45px;
}
.section3 a{
    color:#666;
    font-size: 0.474em;
}
.section4 p:last-child{
    color:#999;
}
.grey-right {
    float: right;
}
.grey, .col1 {
    display: inline-block;
}
.grey {
    background-color: #fafafa;
    color: #999;
    float: left;
    font-family: "LeituraNews-Roman";
    min-height: 210px;
    position: relative;
    width: 16%;
    margin-top: 2%;
}
.num {
    left: -49%;
}
.num {
    font-size: 2.263em;
    line-height: 1.2;
    left: -37%;
    position: absolute;
    top: 15%;
}
.col1 {
    margin-left: 3%;
    width: 80%;
}
.col1 h3{
    margin-top:0;
}
.col1-right {
    float: right;
}
.web {
    margin-left: 0;
    padding-top: 38px;
    width: 41%;
    display: inline-block;
}
.web-h1{
     width: 41%;
    display: inline-block;
}
.webright{
    float: right;
    margin-top: 33px;

}
.web01{
    margin:0 0 38px;
}
.web02{
    margin:76px 0 38px;
}

.web03{
     margin-top: -286px;
    margin-bottom:38px;
}
.web04 {
    margin-top: -66px;
}
.hr2 {
    border-bottom: 1px solid #ccc;
    display: block;
    float: right;
    margin: 76px 0 106px;
    width: 100%;
}
.hr1{
     margin: 38px 0 76px;
}
.hr1 img{
    width: 100%;
}
.section_bg > img {
    float: right;
    width: 59%;
}
.section_bg2 img {
    width: 12%;
}

.section5 {
       margin: 38px 0;
    position: relative;
}
.section5 h2{
    text-align: center;
}
.section_bg2 {
    position: absolute;
    top: -90px;
    width: 93%;
}
.section5-a {
    background-color: #fafafa;
    margin: 114px auto 76px;
    padding-bottom: 5%;
    padding-top: 114px;
    width: 93%;
}
.section_bg {
    position: absolute;
    right: 0;
    top: -15%;
    z-index: 9;
}
.section5 .p1{
      margin: 38px auto;
    text-align: center;
    width: 50%;
}
.col-img {
    min-height: 300px;
    width: 30%;
}
.col-img, .col-det {
    display: inline-block;
    float: left;
}
.col-det {
    width: 69%;
}
.web1{
    width:80%;
    margin:0 auto;
}
.web1 p:last-child{
 color:#999;
}
.section5_img img{
    width:60px;
    margin-top:38px;
}
  .section6{
    background: rgba(0, 0, 0, 0) url("../img/dots.png") no-repeat scroll -60px 50% / 150px auto;
    padding:38px 0;
  }
  .section6 h2{
    margin-top: 28%;
  }
  .form1 .head-label {
    color: #999;
    font-family: "Graphik-Semibold";
    font-size: 0.368em;
    margin-right: 5px;
    text-transform: uppercase;
}
.btns{
    margin:38px 0;
}
 .btns a {
    color: #999;
    font-family: "Graphik-Semibold";
    font-size:0.750em;
    text-transform: uppercase;
}
.form1 input[type="text"], .form1 textarea, .form1 input[type="email"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #333;
    font-family: "Graphik-Medium";
    outline: medium none;
}
.inputs input, textarea {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: currentcolor currentcolor #999;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    width: 100%;
    font-size: 0.583em;
}
.err-label {
    visibility: hidden;
    font-size: 0.368em;
}
.inputs {
    margin-bottom: 16px;
     line-height: 1.2;
}
.form1 button::-moz-focus-inner {
    border: none;
    padding: 0;
}
.form1::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#999;
}
.form1::-moz-placeholder { /* Firefox 19+ */
  color: #999;
}
.form1:-ms-input-placeholder { /* IE 10+ */
  color: #999;
}
.form1:-moz-placeholder { /* Firefox 18- */
  color: #999;
}
.section7{
    margin:38px 0;

    position: relative;
}
.section7-a{
 background-color: #fafafa;
    margin: 114px auto 76px;

    padding: 114px 0;
    width: 93%;
    min-height: 550px;
}
.section_bg3 {
    left: 7%;
    position: absolute;
    top: -70px;
}
.section_bg3 img {
    left: 15%;
    width: 68%;
}
.section7-det {
    position: absolute;
    width:100%;
    background: rgba(0, 0, 0, 0) url("../img/dots.png") no-repeat scroll -60px 32px / 150px auto;
    padding:38px 0;
    left:0;
}
.imgs {
    background-color: #fff;
    padding: 30px;
    width: 100%;
}
.imgs p {
    color: #999;
    font-family: "Graphik-Semibold";
    font-size: 0.625em;
    text-align: center;
    text-transform: uppercase;
}
.imgs h4{
    text-align: center;
}
.list1 {
    width: 63%;
}
.list {
    padding: 10px;
}
.list-h4{
    margin: 24px 0;
}
.list3 img {
    margin-right: 10%;
    width: 20px;
}
.list2 {
    width: 96%;
}
footer .f1 {
    border-top: 1px solid #ccc;
    font-family: "LeituraNews-Roman";
    margin-top: 38px;
    padding:38px 0;
}
.f1 p {
    margin:38px 0;
    color:#999;
    text-align: center;
}