/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/
@import url('font.css');

nav:not(#toolbar-bar):not(.toolbar-lining):not(#toolbar-item-devel-tray):not(.toolbar-tray-name):not(.toolbar-toggle-orientation):not(.edit-devel-toolbar)
and .nav:not(.menu) li a {

  font-size: 24px;
    line-height: 1.6;
    margin:0;
    padding:0;

}
body{
    font-size: 24px;
    line-height: 1.6;
    margin:0;
    padding:0;
}
section{
    margin-top:38px;
    margin-bottom:38px;
}
 h2, h3,h4,h5{
    line-height: 1.4;
 }
h1{
    color: #111;
    font-family: "Graphik-Bold";
    font-size: 3.263em;
    font-weight: 800;
    padding-top: 100px;
    text-transform: uppercase;
    line-height: 1.2;
}
h2{
      font-family: "Graphik-Medium";
    font-size: 1.842em;
}
h2 span{
        color: #ff5c5c;
    font-family: "Graphik-Semibold";
}
h3{      font-family: "Graphik-Regular";
        color: #333;

    font-size:1.315em;

}
h3 span{

     font-family: "Graphik-Medium";
}
h4{
      color: #333;
    font-family: "Graphik-Regular";
    font-size: 0.947em;
    font-weight: 300;

}

h4 span{
       font-family: "Graphik-Medium";
    font-weight: 400;
}
h5{
     color: #666;
    font-size: 0.684em;
    font-family: "LeituraNews-Roman";
}
h5 span{
    font-family: 'LeituraNews-Italic';
}
h6{
        color: #999;
    font-family: "Graphik-Semibold";
    font-size:0.368em;
    letter-spacing: 1px;
    text-transform: uppercase;

}
h6 span{
    color:#666;
}


p{
     color: #666;
    font-family: "LeituraNews-Roman";
    font-size: 0.631em;
    margin:20px 0;
    line-height: 1.6;
}
nav {
    width: 86%;
    margin:0 auto;
}
a, a:hover{
    text-decoration: none;
}

.nav li a {
    color: #999;
    font-family: "Graphik-Semibold";
    letter-spacing: 1px;
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 0.421em;
    line-height: 1.6;
}
.nav li img {
    width: 20px;
}

.span-red {
    color: #ff5c5c !important;
    font-family: inherit;
}

.brand {
    color: #111111;
    font-family: "Graphik-Bold";
    font-size: 0.632em;
    line-height: 1.6;
    padding-right: 150px;
}

/*section1*/
.section1-a{
    font-size:  1.167em;
}
.section1-a p{
    font-size: 0.736em;
}
.div_img {
    position: absolute;
    right: 0;
     top: 100px;
    z-index: 1;
}
.div_img img {
    padding-left: 13%;
    width: 65%;
}
section a{
    font-size:0.750em;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Graphik-Semibold";
}
.section1 {
    margin-top:0! important;
      background: rgba(0, 0, 0, 0) url("../img/header_gradient.jpg") repeat-x scroll 0 0;
  }
  .section1-a > h5 {
    width: 50%;
}

  .section1-a{
    padding:70px 0 130px;
      }
  .section2,.section4{
    background: rgba(0, 0, 0, 0) url("../img/dots.png") no-repeat scroll -60px 32px / 150px auto;
    padding:38px 0;
  }
  .section3-a,.section3-b{
     background: #fafafa none repeat scroll 0 0;
    padding: 76px 114px;
  }
.section3-b{
    margin-top:100px;
}
.section3 img{
    width:50px;
    margin-bottom:45px;
}
.sections a{
    color:#666;
    font-size: 0.474em;
     color: #999;
    font-family: "Graphik-Semibold";
    text-transform: uppercase;
    letter-spacing: 2px;
}
.section4 p:last-child{
    color:#999;
}
.grey-right {
    float: right;
}
.grey, .col1 {
    display: inline-block;
}
.grey {
    background-color: #fafafa;
    color: #999;
    float: left;
    font-family: "LeituraNews-Roman";
    min-height: 210px;
    position: relative;
    width: 16%;
    margin-top: 2%;
}
.num {
    left: -49%;
}
.num {
    font-size: 2.263em;
    line-height: 1.2;
    left: -37%;
    position: absolute;
    top: 15%;
}
.col1 {
    margin-left: 3%;
    width: 80%;
}
.col1 h3{
    margin-top:0;
}
.col1-right {
    float: right;
}
.web {
    margin-left: 0;
    padding-top: 38px;
    width: 41%;
    display: inline-block;
}
.web-h1{
     width: 41%;
    display: inline-block;
}
.webright{
    float: right;
    margin-top: 33px;

}
.web01{
    margin:0 0 38px;
}
.web02{
    margin:76px 0 38px;
}

.web03{
     margin-top: -286px;
    margin-bottom:38px;
}
.web04 {
    margin-top: -66px;
}
.hr2 {
    border-bottom: 1px solid #ccc;
    display: block;
    float: right;
    margin: 76px 0 106px;
    width: 100%;
}
.hr1{
     margin: 38px 0 76px;
}
.hr1 img{
    width: 100%;
}
.section_bg > img {
    float: right;
    width: 59%;
}
.section_bg2 img {
    width: 12%;
}

.section5 {
       margin: 38px 0;
    position: relative;
}
.section5 h2{
    text-align: center;
}
.section_bg2 {
    position: absolute;
    top: -90px;
    width: 93%;
}
.section5-a {
    background-color: #fafafa;
    margin: 114px auto 76px;
    padding-bottom: 5%;
    padding-top: 114px;
    width: 93%;
}
.section_bg {
    position: absolute;
    right: 0;
    top: -15%;
    z-index: 9;
}
.section5 .p1{
      margin: 38px auto;
    text-align: center;
    width: 50%;
}
.col-img {
    min-height: 300px;
    width: 25%;
}
.col-img, .col-det {
    display: inline-block;
    float: left;
}
.col-det {
    width: 73%;
}
.web1{
    width:80%;
    margin:0 auto;
}
.web1 p:last-child{
 color:#999;
}
.section5_img img{
    width:60px;
    margin-top:38px;
}
.section5 h4{
    margin: 16px 0 38px;
}
  .section6{
    background: rgba(0, 0, 0, 0) url("../img/dots.png") no-repeat scroll -60px 50% / 150px auto;
    padding:38px 0;
  }
  .section6 h2{
    margin-top: 28%;
  }
  .section6 h6{
    text-align: center;
  }
  .section6 a{

    float: right;
  }
  .sections .form1 a{
    font-size: 0.75em;
    color:#666;
     font-family: "Graphik-Semibold";
  }
  .form1 .head-label {
    color: #999;
    font-family: "Graphik-Semibold";
    font-size: 0.368em;
    margin-right: 5px;
    text-transform: uppercase;
}
.btns{
    margin:38px 0;
}
 /*.btns a, .content-section1 a{
    color: #999;
    font-family: "Graphik-Semibold";
    font-size:0.750em;
    text-transform: uppercase;
}*/
.form1 input[type="text"], .form1 textarea, .form1 input[type="email"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #333;
    font-family: "Graphik-Medium";
    outline: medium none;
}
.inputs input, textarea {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: currentcolor currentcolor #999;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    width: 100%;
    font-size: 0.583em;
}
.err-label {
    visibility: hidden;
    font-size: 0.368em;
}
.inputs {
    margin-bottom: 16px;
     line-height: 1.6;
}
.form1 button::-moz-focus-inner {
    border: none;
    padding: 0;
}
.form1::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#999;

}
.form1::-moz-placeholder { /* Firefox 19+ */
  color: #999;

}
.form1:-ms-input-placeholder { /* IE 10+ */
  color: #999;

}
.form1:-moz-placeholder { /* Firefox 18- */
  color: #999;

}
.section7{
    margin:38px 0;

    position: relative;
}
.section7-a{
 background-color: #fafafa;
    margin: 114px auto 76px;

    padding: 114px 0;
    width: 93%;
    min-height: 550px;
}
.section7 h5{
    text-align: center;
}
.section_bg3 {
    left: 7%;
    position: absolute;
    top: -70px;
}
.section_bg3 img {
    left: 15%;
    width: 68%;
}
.section7-det {
    position: absolute;
    width:100%;
    background: rgba(0, 0, 0, 0) url("../img/dots.png") no-repeat scroll -60px 32px / 150px auto;
    padding:38px 0;
    left:0;
}
.imgs {
    background-color: #fff;
    padding: 30px;
    width: 100%;
}
.imgs p {
    color: #999;
    font-family: "Graphik-Semibold";
    font-size: 0.625em;
    text-align: center;
    text-transform: uppercase;
}
.imgs h6{
    text-align: center;
}
.list1 {
    width: 63%;
}
.list {
    padding: 10px;
}
.list-h4{
    margin: 24px 0;
}
.list3 img {
    margin-right: 10%;
    width: 20px;
}
.list2 {
    width: 96%;
}
.list.list3 > hr {
    margin-bottom: 38px;
}
.list.list2 > hr {
    margin: 10px 0 60px;
}
footer .f1 {
    border-top: 1px solid #ccc;
    font-family: "LeituraNews-Roman";
    margin-top: 38px;
    padding:38px 0;
}
.f1 p {
    margin:38px 0;
    color:#999;
    text-align: center;
}


/*****************************************************************************************************************/
.contact-section1 h2{
    text-align: center;
}
.contact-section1 p{
    text-align: center;
    padding:0 25%;
}
.contact-section1{
    margin-bottom:38px;
padding:38px 0;
}
.contact-section2 >.div-adjust{
}
.contact-section2{
    position: relative;
    padding: 114px 0 38px;
}

.p999{
    color:#999;
}
.grey-bg-col{
    width:30%;
    height:900px;
    position: absolute;
    left:0;
    background: #fafafa;
      margin-top: -152px;
}
#googleMap{
    width:100%;
    height:800px;
}
.div-adjust div{
    margin:38px 0;
    padding:38px 0;
    border-bottom: 1px solid #999;
}
.div-adjust div:first-child{
    margin-top:0;
    padding-top:0;
}
.div-adjust div:last-child{
    border:none;
}
.div-adjust h3{
    margin-top: 0;
}
.div-adjust{
    width:80%;
    float:right;
}
.div-adjust p{
    width:80%;
}
/*******************************************************************************************************************/
.content-section1 img{
    width:100%;
}
.content-section1{
     padding: 114px 0;
    margin:38px 0;
}
.content-section1 h2{
    width: 90%;
}
.content-section2 h1,.content-section2 h2,.content-section2 h3,.content-section2 h5,.content-section2 h6{
     margin:38px 0;
}
.content-section2 h4{
    margin-top:58px;
}
.content-section3 .list{
    margin:38px 0;
    padding:0;
}

.content-section3 .list > p{
    margin:5px 0 !important;
}
.content-section .list p:before{
    font-size: "fontawesome";
    content:;
}
 {
    margin:38px 0;
    padding:38px 0;
}
.content-section3 img{
    width:100%;
}
.content-section3,.content-section4,.content-section2{
    padding:76px 0;
}

.content-section4 h5
{
    font-size:0.473em;
}
.sm-btn-trans
{
     color:#333;
     border:1px solid #333;
    background: transparent !important;
        padding: 4px 12px;
        border-radius:0;
        font-size: 0.631em;
}
.sm-btn-solid{
    background: #333;
    color:#fff;
    border-radius: 0;
    font-size: 0.631em;
}
.md-btn-trans
{
     color:#333;
     border:1px solid #333;
    background: transparent !important;
        padding:10px 15px;
        border-radius:0;
        font-size: 0.631em;
}
.md-btn-solid{
    background: #333;
    color:#fff;
    border-radius: 0;
    padding:10px 15px;
    font-size: 0.631em;
}

#panel-accord .panel-heading{
    border:1px solid #ccc;
    border-radius: 0;
    border-bottom:0 !important;
       font-family: 'Graphik-Medium';
       background:#fafafa;

}
#panel-accord .active .panel-heading{

       background:#fff;

}
#panel-accord .panel-heading h4 {
    margin: 0 !important;
}
#panel-accord .panel {
    margin: 0 !important;
    border-radius: 0;
    border: 0;
    padding:0;
}
#panel-accord .panel-heading a h4{
    text-decoration: none;
    font-size: 0.875em;
    text-transform: capitalize;

       color:#666;
}
#panel-accord .panel-heading a{
    text-decoration: none;
}
.panel-title i{
    float:right;
    display: none;
}
#panel-accord .panel-heading a:active h4{
    color:#666 !important;
    text-transform: capitalize;
    text-decoration: none;
}
.last-panel{
    border-bottom:1px solid #ccc !important;
}

#table1_previous:before {
  content: '\f177';
  font-family:'FontAwesome';
   font-size: 0.9375em;
}
#table1_paginate{
    text-align: left;
    margin-top: 50px;
    font-family: 'Graphik-Regular';
}
#table1_next:after {
  content: '\f178';
  font-family:'Fontawesome';
  font-size: 0.9375em;
}
#table1_paginate .paginate_button{
    border: 1px solid #ccc ;
    padding: 7px 7px ;
    margin: 0 5px;
    vertical-align: top
}
#table1_paginate span .paginate_button{
    padding: 7px 12px !important;
    vertical-align: top;
    border: 1px solid #ccc !important;
    margin: 0 5px;
}
#table1_paginate a{
    text-decoration: none;
}
.buttons{
 margin:16px 0;
}
.buttons .btn{
    margin-right:38px;
}